/*
green   #680
dark    #333
lighter #666
*/
@font-face {
  font-family: 'GothicCustom';
  src: url("LeagueGothic.eot");
  src: local('☺'), url("LeagueGothic.otf") format('opentype'), url("leaguegothic.svg#lg") format('svg');
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: 'MuseoCustom';
  src: url("MuseoSans-500.eot");
  src: local('☺'), url("MuseoSans-500.ttf") format('opentype'), url("museo.svg#museo") format('svg');
}

html        { background:#EEEEE6 fixed; }
body        { margin:0; padding:0; font-family:  Georgia, Times, 'Times New Roman', serif; font-size:14px; background:fixed no-repeat 50% 0; color:#333; line-height:20px; }
img         { border:0; }
p           { margin-bottom:20px; }
a           { color:#680; -webkit-transition:all .2s;}
a:hover     { text-decoration:none;}
table       { border:1px solid #666; border-width:1px 0; border-collapse:collapse; background-color:rgba(255,255,255,.5); width: 100%; }
th          { border:1px solid #666; border-width:1px 0; background-color:rgba(51,51,51,.1);}
td          { border:1px solid #CCC; border-width:1px 0; padding:2px 10px; }
div#area    { overflow-y:auto; }


h1, h2, h3 {
        margin-top: 0px;
        margin-bottom: 5px;
}
.wrapper {
        min-height: 100%;
        width: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
}
.footer {
        height: 120px;
}
.footer {
        text-align: center;
        font-size:80%;
}

img.foss-logo {
        vertical-align: middle;
        height: 48px;
        margin-right: 32px;
}

ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
}

.tab {
        display: inline-block;
        padding: 0 10px;
        margin: 0 10px;
}

.active {
        background-color: rgba(255,255,255,.5);
        border: 1px;
        border-bottom: 0;
        border-style: solid;
}

#list {
        width: 50%;
}

#area {
        width: 30%;
}

/* Set the color of the unfilled part of the progress bar */
progress {
    background-color: #BBBBBB;
    border: 1px solid #333333;
}
progress::-webkit-progress-bar {
    background-color: #BBBBBB;
}

/* Set the color of the filled part of the progress bar */
progress.DEM::-moz-progress-bar {
    background-color: blue;
}
progress.DEM::-webkit-progress-value {
    background-color: blue;
}
progress.GRN::-moz-progress-bar {
    background-color: green;
}
progress.GRN::-webkit-progress-value {
    background-color: green;
}
progress.REP::-moz-progress-bar {
    background-color: red;
}
progress.REP::-webkit-progress-value {
    background-color: red;
}
progress.CON::-moz-progress-bar {
    background-color: #ff8040;
}
progress.CON::-webkit-progress-value {
    background-color: #ff8040;
}
progress.IND::-moz-progress-bar {
    background-color: purple;
}
progress.IND::-webkit-progress-value {
    background-color: purple;
}
progress.LIB::-moz-progress-bar {
    background-color: #396D9D;
}
progress.LIB::-webkit-progress-value {
    background-color: #396D9D;
}
/*progress.WOR::-moz-progress-bar {
    background-color: blue and white;
}
progress.WOR::-webkit-progress-value {
    background-color: blue and white;
}*/
