/*
green   #680
dark    #333
lighter #666
*/
@font-face {
  font-family: 'GothicCustom';
  src: url("LeagueGothic.eot");
  src: local('☺'), url("LeagueGothic.otf") format('opentype'), url("leaguegothic.svg#lg") format('svg');
}

/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: 'MuseoCustom';
  src: url("MuseoSans-500.eot");
  src: local('☺'), url("MuseoSans-500.ttf") format('opentype'), url("museo.svg#museo") format('svg');
}

html        { background:#EEEEE6 fixed; }
body        { margin:0; padding:0; font-family:  Georgia, Times, 'Times New Roman', serif; font-size:14px; background:fixed no-repeat 50% 0; color:#333; line-height:20px; }
img         { border:0; }
p           { margin-bottom:20px; }
a           { color:#680; -webkit-transition:all .2s;}
a:hover     { text-decoration:none;}
table, .table {
  border:1px solid #666;
  border-width:1px 0;
  border-collapse:collapse;
  background-color:rgba(255,255,255,.5);
}
.table {
  clear: both;
}
th          { border:1px solid #666; border-width:1px 0; background-color:rgba(51,51,51,.1);}
td, .cell {
  border:1px solid #CCC;
  border-width:1px 0;
  padding:2px 10px;
}
.cell {
  float: left;
}
div#area    { overflow-y:auto; }


h1, h2, h3 {
        margin-top: 0px;
        margin-bottom: 5px;
}
.wrapper {
        min-height: 100%;
        width: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
}
.footer {
  height: 120px;
  text-align: center;
  font-size:80%;
  clear: both;
}

.logo-div {
    display: inline-block;
    width: 48px;
    overflow: hidden;
}

img.foss-logo {
        vertical-align: middle;
        height: 48px;
        margin-right: -32px;
}

#logo {
    float: left;
    margin: auto;
    line-height: 80px;
    padding-right: 20px;
}

ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-weight: bold;
}
ul ul {
    font-weight: initial;
}

.tab {
        display: inline-block;
        padding: 0 10px;
        margin: 0 10px;
}

.active a {
        color: #695;
}

#list {
    width: 30%;
    overflow-y: scroll;
    height: 800px;
}

#contest {
  width: 60%;
}
