/* Set the color of the unfilled part of the progress bar */
progress {
    background-color: #BBBBBB;
    border: 1px solid #333333;
}
progress::-webkit-progress-bar {
    background-color: #BBBBBB;
}

/* Set the color of the filled part of the progress bar */
progress.DEM::-moz-progress-bar {
    background-color: blue;
}
progress.DEM::-webkit-progress-value {
    background-color: blue;
}
progress.GRN::-moz-progress-bar {
    background-color: green;
}
progress.GRN::-webkit-progress-value {
    background-color: green;
}
progress.REP::-moz-progress-bar {
    background-color: red;
}
progress.REP::-webkit-progress-value {
    background-color: red;
}
progress.CON::-moz-progress-bar {
    background-color: #ff8040;
}
progress.CON::-webkit-progress-value {
    background-color: #ff8040;
}
progress.IND::-moz-progress-bar {
    background-color: purple;
}
progress.IND::-webkit-progress-value {
    background-color: purple;
}
progress.LIB::-moz-progress-bar {
    background-color: #396D9D;
}
progress.LIB::-webkit-progress-value {
    background-color: #396D9D;
}
progress.WF::-moz-progress-bar {
    background-image: -moz-linear-gradient(top, #0000ff 0%, #0000ff 50%, #ffffff 50%, #ffffff 100%);
}
progress.WF::-webkit-progress-value {
    background-image: -webkit-linear-gradient(top, #0000ff 0%,#0000ff 50%,#ffffff 50%,#ffffff 100%);
}
